body {
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #DDDDDD;
}

.container {
    display: flex;
    margin-top: 11em;
    margin-left: 11.5em;
}

.leftside {
    border-bottom-left-radius: .73em;
    border-top-left-radius: .73em;
    height: 15.625em;
    width: 27.781em;
    background: linear-gradient(135deg, hsla(110, 74%, 53%, 1) 0%, hsla(51, 100%, 50%, 1) 80%, hsla(45, 100%, 50%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(110, 74%, 53%, 1) 0%, hsla(51, 100%, 50%, 1) 80%, hsla(45, 100%, 50%, 1) 120%);
    background: -webkit-linear-gradient(135deg, hsla(110, 74%, 53%, 1) 0%, hsla(51, 100%, 50%, 1) 80%, hsla(45, 100%, 50%, 1) 120%);
}

img {
    opacity: .4;
    border-bottom-left-radius: .73em;
    border-top-left-radius: .73em;
}

.rightside {
    background-color: darkslategrey;
    height: 15.625em;
    width: 27.781em;
    justify-content: right;
    border-top-right-radius: .73em;
    border-bottom-right-radius: .73em;
}

.textOne {
    color: whitesmoke;
    margin-left: 6.8em;
    margin-top: 3.8em;
}

.textTwo {
    color: white;
    font-family: "Berlin Sans FB", sans-serif;
    margin-left: 9em;
}

@media (max-width: 980px) {
    .container {
        display: grid;
        place-items: center;
        border-radius: 0;
    }

    img {
        display: block;
        border-bottom-left-radius: 0;
        margin-right: 9em;
        border-top-left-radius: .73em;
        border-top-right-radius: .73em;
    }

    .rightside {
        margin-bottom: 10em;
        margin-right: 9em;
        border-top-right-radius: 0;
        border-bottom-left-radius: .73em;
        border-bottom-right-radius: .73em;
    }
}
